.graph {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-family: sans-serif;
  border: 1px dashed black;
  padding: 1em;
  background: white;
}

.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner img {
    animation: spinner 2s infinite linear;
}
@keyframes spinner { 100% { transform:rotate(360deg); } }


@keyframes .spinner {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.spinner-hide {
    display: none;
}

.title {
    font-weight: bold;
    font-size: 2em;
    color: #66615b;
}

.graph-error {
    margin-top: 10%;
    font-size: 2em;
    color: red;
}

.graph table {
    margin: 0 auto;
}
