.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #333;
    padding: 1em 1em 1em 1em;
}

.form * {
    padding: 1em;
}

a {
    color: #2a5298;
}

label {
    font-weight: bold;
}

input {
    border-radius: 3px;
    border: 1px solid #ccc;
    display: inline;
}

.error {
    border: 1px solid red;
}

button {
    display: inline;
    margin-left: 1em;
}

.error-msg {
    line-height: 1.2;
    color: #FF0000;
}

.form-title {
    width: 100%;
    text-align: center;
}
